<!doctype html>
<html>
<head> 
    <!-- nom de la page html -->
	<title>Suggestion de tag </title>
<style>
	body {background-color: rgba(206, 229, 233, 1);}
	h1  {
	    color: black;
		font-family: verdana;
        font-size: 280%;
		}
</style>
</head>
<body>
	<h2 style="background-color:rgba(140, 195, 202, 1)">Suggestion de tag  <h2><br/>
	 <form method="POST" action="/calcul">
	    <fieldset>
		  <legend>Posez votre question :</legend>
		    <br>
			   <input type="text" name="question">
		    <br>
		    <input type="submit" value="Valider">
		</fieldset>	
	 </form>
</body>
</html>